html, body, .todo {
    margin: 0;
    padding: 0;
}

.todo {
    list-style-type: none;

    &__input, &__item {
        margin: 10px;
    }

    &__item--done {
        text-decoration: line-through;
    }
}

#addTodo {
    margin-left: 10px;
}